body{
    background-color: #222222;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
    user-select: none;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    background-color: #1A1A1A;
    width: 100vw;
    align-items: center;
    height: 4em;
}

h2{
    color: #A65DCA;
    font-size: 2.1rem;
}

ul li{
    list-style: none;
    padding-left: 1em;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    color: #A65DCA;
}

.container-apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease
}

.container-apresentacao h2{
    color: white;
}

.container-apresentacao p {
    color: white;
    font-size: 1.2rem;
}

.destaque{
    color: #A65DCA;
    text-transform: uppercase;
}

.container-apresentacao::before{
    content: "";
    background: url("/assets/image/background.svg");
    position: absolute; 
    width: 100vw; 
    height: 100%; 
    z-index: -1; 
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Animação do container-apresentação*/


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated {
    animation: slideIn 3s forwards;
}


/*Fim da animação*/

.sobre-mim{
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.sobre p{
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    width: 40vw;
}

.destaque-2{
    color: #EBA5BB;
    font-weight: 500;
    font-size: 3rem;
}

.habilidades{
    margin-top: 2em;
        
    
}
.cards-habilidades{
    display: flex;
}

.card{
    background-color: #222222;
}

.card img{
    width: 15em; 
    height: 15em; 
    object-fit: contain; 
}

